#content {
    opacity: 0;
    height: 100vh;
    width: 100%;
}

#svgbg {
    height: 100vh;
    width: 100%;
    z-index: -2;
    position: fixed;
    left: 0; 
    top: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 5rem 0;
}

.opening-spiel {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 2.5rem;
    &-text {
        text-align: left;
        font-family: 'Space Grotesk Variable', sans-serif;
    }
}

.opening-banner {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.glass-bg {
    background-color: #ffffff10;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    filter:  drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
}

.profile-pic {
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    height: 75px;
    width: 75px;
    position: relative;
    flex-shrink: 0;
    & img {
        object-fit: "contain";
    }
}

.hello {
    display: flex; 
    font-weight: bold;
    align-items: center;
    font-size: x-large;
}

.tech-stack {
    display: flex;
    &-logos {
        display: flex;
        flex-direction: column;
    }
}

.ds-stack, .wd-stack {
    display: flex;
    font-family: 'Space Mono', sans-serif;
}

@media screen and (max-width: 850px) {

    .opening-banner {
        flex-direction: column;
        column-gap: 0;
        row-gap: 1.5rem;
        align-items: center;
    }

    .hello {
        text-align: center;
        font-size: large;
    }

    .opening-spiel-text {
        text-align: center;
        font-size: smaller;
    }

}

@media screen and (max-width: 600px) {



}

@media screen and (max-width: 500px) {



}

@media screen and (max-width: 300px) {



}
