html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Space Mono', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.landing-annotation {
  opacity: 0.6;
}

.landing-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/nnnoise.svg);
}

.title-container {
  width: 100%;
  padding: 2rem 7rem;
  color: white;
  position: relative;
  & > h2 {
    font-size: 1.275rem;
    font-weight: normal;
    bottom: 0;
  }
}

.title-text {
  font-size: 7rem;
  max-width: 870px;
  line-height: 6rem;
  text-align: left;
  padding-bottom: 1rem;
}

.gradient-text {
  background-color: white;
  background-image: linear-gradient(to right top, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.arrow-down {
  position: absolute;
  bottom: 2rem;
  height: 80px; 
  width: 80px;
  background: url('data:image/svg+xml,<svg fill="%23ffffff" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path> </g></svg>');
  background-repeat: no-repeat;
  background-size: cover;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

// @media screen and (max-width: 800px) {
//   .title-container {
//     text-align: center;
//     padding: 2rem 0;
//     & > h2 {
//       margin: 1rem 2rem;
//       margin-bottom: 38px;
//     }
//   }

//   .title-text {
//     margin: 0 2rem;
//   }
// }

@media screen and (max-width: 640px) {
  .title-text {
    font-size: 4rem;
  }

  .title-container {
    padding: 2rem 10%;
    & > h2 {
      font-size: 1.5rem;
      margin-bottom: 38px;
    }
  }
}

// @media screen and (max-width: 400px) {
//   .title-text {
//     font-size: 1.5rem;
//   }

//   .title-container {
//     & > h2 {
//       font-size: 0.8rem;
//       margin-bottom: 38px;
//     }
//   }
// }
