.justblackjack-button {
    position: absolute;
    bottom: 2rem;
    right: 7rem;
    opacity: 0;
}

.justblackjack-frame {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: min(100vw, 490px);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    & iframe {
        position: relative;
        height: 100%;
        width: 95%;
        border-style: none;
        border-radius: 25px;
        margin-bottom: 1rem;
    }
}

.justblackjack-spiel {
    padding: 1rem 1.5rem;
    text-align: center;
    color: white;
}

.justblackjack-closebutton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    color: white;
}

.justblackjack-link:hover,
.justblackjack-exitarrow:hover {
    opacity: 0.8;
}

@media screen and (max-width: 850px) {

    .justblackjack-button {
        right: 10%;
    }

}

@media screen and (max-width: 640px) {

    .justblackjack-button {
        right: 7.5%;
    }

}

@media screen and (max-width: 500px) {

    .justblackjack-button {
        right: 7.5%;
    }

}